{#
/**
 * @file hei.html.twig
 * Default theme implementation to present Institution data.
 *
 * This template is used when viewing Institution pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_hei()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('hei') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
