{#
/**
 * @file org.html.twig
 * Default theme implementation to present Organization data.
 *
 * This template is used when viewing Organization pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_org()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('org') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
